code {
    color: black;
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    border-radius: 5pt;
    padding: 2pt 2pt;
    margin: 0 -1pt;
    white-space: nowrap;
}

div.se-infobox {
    --box-color: #0271BB;
    --header-color: white;
    border-width: 2pt;
    border-style: solid;
    border-color: var(--box-color);
    width: 100%;
    background-color: white;
}

div.se-infobox.explanation {
    --box-color: #348B4C;
}

div.se-infobox.backstory {
    --box-color: #e3e532;
    --header-color: black;
}

div.se-infobox:first-child {
    background-color: var(--box-color);
    padding-left: 5pt;
    color: var(--header-color);
    width: 100%;
    font-size: 1.5em;
}

div.se-infobox:not(:first-child) {
    padding: 10pt;
}